# Credenciales Exnova (nunca commitear .env real)
EXNOVA_EMAIL=
EXNOVA_PASSWORD=

# PRACTICE | REAL
EXNOVA_ACCOUNT_TYPE=PRACTICE

# Credenciales de iQ Option (nunca commitear .env real)
IQ_OPTION_EMAIL=
IQ_OPTION_PASSWORD=

#  PRACTICE | REAL
IQ_OPTION_ACCOUNT_TYPE=PRACTICE

# No usados aún; aquí para fases tardías
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=